# gitignore

# Ignore bash files
**/.bash_history

# Ignore zsh files
**/zshrc.d/.zsh_history
**/zshrc.d/.zcompdump

# Ignore (n)vim plugins
**/nvim/plugged/
**/nvim/undodir/

# Ignore vim files
**/vim/plugged/
**/vim/viminfo
**/vim/swapfiles/**

